*
{
    margin: 0 0;
    padding: 0 0;
}

h1
{
    color: antiquewhite;
    font-family: monospace;
    background-color: black;
    padding: 10px;
    margin: 10px;
}

span
{
    color: aqua;
    font-family: monospace;
}

h2
{
    background-color: rebeccapurple;
    color: azure;
    text-align: center;
    padding: 10px;
    font-family: monospace;
    font-style: italic;
    margin: 10px;
}

#linkdiv
{
    background-color: #9FC5F8;
    text-align: right;
    padding: 10px;
    margin: 10px;
}

a
{
    color: black;
}