h1
{
    color: antiquewhite;
    font-family: monospace;
    background-color: black;
    padding: 10px;
    height: 30px;
}

span
{
    color: aqua;
    font-family: monospace;
}

h2
{
    background-color: rebeccapurple;
    color: azure;
    text-align: center;
    padding: 10px;
    height: 30px;
    font-family: monospace;
    font-style: italic;
}

#linkdiv
{
    background-color: #9FC5F8;
    height: 30px;
    text-align: right;
    padding: 10px;
}