*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper
{
    display: flex;
    flex-direction: column;
}

#header
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(159, 196, 248);
    align-items: center;
}

#title
{
    font-size: 2em;
    color: whitesmoke;
    padding-left: 100px;
    font-weight: bold;
}

#navlinks
{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 150px;
    color: whitesmoke;
    cursor: pointer;
}

#body
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

#top
{
    border-bottom: 2px solid black;
    /* margin-top: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
}

#city
{
    font-size: 1.5em;
}

#unitdiv
{
    display: flex;
    align-items: center;
    gap: 5px;
}

#unit
{
    font-size: 1em;
}

#main
{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    gap: 15px;
}

.weathercard
{
    display: flex;
    background-color: rgb(238, 238,238);
    flex: 1;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.day
{
    font-size: 1.2em;
}

.condimg
{
    height: 120px;
}

.condition
{
    margin-top: 20px;
}

.desc
{
    margin-top: 20px;
}

.temp
{
    margin-top: 10px;
    display: flex;
    padding: 15px;
    gap: 80px;
}

.temph, .templ, .high, .low
{
    font-weight: bold;
}

.temph, .high
{
    color: red;
    flex: 1;
}

.templ, .low
{
    color: blue;
    flex: 1;
}

#cookie
{
    background-color: rgb(238, 238,238);
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    display: flex;
    width: 80%;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

#cookieimg
{
    height: 80px;
    margin-right: 15px;
}

#cookietext
{
    display: inline-block;
    flex: 8;
}

#cookiebtn
{
    flex: 1.5;
    height: 30px;
    background-color: rgb(159,196,248);
    border: 2px solid black;
    box-shadow: 2px 2px 1px;
}