*
{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wrapper
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 2px;
}

.row
{
    flex-direction: row;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#user
{
    font-size: 1.5em;
}

#likes
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}

#likebtn
{
    background-color: rgb(242,202,78);
    width: 70px;
    height: 30px;
    box-shadow: 2px 2px 1px black;
    font-weight: bold;
    font-size: 1em;
}