*
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#wrapper
{
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
    margin: 0 auto;
    padding-top: 200px;
}

#top
{
    height: 60px;
    background-color: royalblue;
    border-radius: 5px;
}

#pic
{
    height: 76px;
    width: 76px;
    margin-left: 28px;
    margin-top: -45px;
    margin-bottom: -35px;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 38px;
}

img#user
{
    border-radius: 50px;
    border: 3px solid white;
    height: 70px;
    width: 70px;

}
#bottom
{
    height: 150px;
    margin-top: -1px;
    border: 1px solid rgb(194, 191, 191);
    border-top: 0px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    align-items: flex-start;
    gap: 10px;
}

#title
{
}

#loc
{
    height: 10px;
    width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    padding-bottom: 5px;
}

#desc
{
    font-size: 0.7em;
}

#edit
{
    font-size: 0.3em;
    text-decoration: underline;
    color: darkblue;
    display: flex;
    align-items: center;
}

img#map
{
    height: 15px;
    width: 15px;
}

img#wheel
{
    height: 10px;
    width: 10px;
    margin-right: 5px;
}