*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper
{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

#top
{
    font-size: 2em;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}

#body
{
    display: flex;
    flex-direction: column;
}

#title
{
    align-self: center;
    padding: 15px;
    font-size: 1.7em;
}

#content
{
    display: flex;
    align-items: top;
    /* padding-top: 10px; */
}

#col-l
{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 30px;
    border: 2px solid black;
    border-radius: 2px;
    padding-bottom: 40px;
    height: 200px;
    flex: 0.7;
}

#userimg
{
    height: 80px;
}

#username
{
    font-size: 1.4em;
}

#col-r
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
    flex: 2.5;
}

.card
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 2px;
}

.row
{
    flex-direction: row;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.desc
{
    display: inline-block;
}

.user
{
    font-size: 1.5em;
}

.likes
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}

.likebtn
{
    background-color: rgb(242,202,78);
    width: 70px;
    height: 30px;
    box-shadow: 2px 2px 1px black;
    font-weight: bold;
    font-size: 1em;
}